@use "../mixins.scss" as mixins;

.slider {
    width: 100%;
    max-width: 141.9rem;
    padding: 12.3rem 0;
    margin: auto;
    &__header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 4.368rem;
        margin-bottom: 8rem;
    }
    &__controls-container {
        width: 12rem;
        //TODO: Create a separate file for the button component
        .controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            &__button {
                width: 5rem;
                height: 5rem;
                background-color: #fa8b02;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                .button-arrow {
                    stroke: #ffffff;
                }
                &.disabled {
                    background-color: #d3d3d3;
                    cursor: not-allowed;
                    .button-arrow {
                        stroke: #333333;
                    }
                }
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: initial;
        gap: 3.3rem;
        overflow: auto;
        @include mixins.mf-tablet {
            overflow: hidden;
        }
    }
}
