@use "../mixins.scss" as mixins;
.slider-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    @include mixins.mf-tablet {
        max-width: 33rem;
    }
    &__image {
        width: 100%;
        height: 40.4rem;
        position: relative;
        border-radius: 3rem;
        margin-bottom: 1.6rem;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            border-radius: 3rem;
        }
    }
    &__title {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 3.268rem;
        margin-bottom: 1.2rem;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    &__price {
        font-size: 2.4rem;
        color: #fa8b02;
        font-weight: 800;
        line-height: 3.268rem;
        margin-bottom: 1.6rem;
        .price-from {
            font-size: 1.8rem;
            line-height: 2.451rem;
            font-weight: 600;
            color: white;
        }
    }
    &__duration {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1.2rem;
    }
    &__description {
        font-size: 1.8rem;
        line-height: 2.6rem;
        margin-bottom: 3rem;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
